.App {
  text-align: center;
  position: relative;
  height: 100%;
}

h1 {
  background-color: black;
  color: cornsilk;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0;
  margin-bottom: 0;
}
